:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}

.text-green {
  color: var(--green-color);
}
.bg-green {
  background-color: var(--green-color);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-color);
  border-radius: 5px;
}
body {
  font-family: "Roboto", sans-serif;
  height: 10000px;
}
.main-btn {
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 0.5rem 1rem;
  &:hover {
    color: var(--yellow-color) !important;
  }
}
.main-title::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
/* Start navbar */
.navbar {
  background-color: var(--dark-color);
  .nav-link {
    color: white;
    &.active,
    &:hover,
    &:focus {
      color: var(--green-color);
    }
  }
  .search {
    border-left: 1px solid var(--green-color);
  }
  .navbar-toggler[aria-expanded="true"] {
    border-color: var(--green-color) !important;
  }
}
/* End navbar */
/* Start Landing */
.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px);
}
/* End Landing */
/* Start Feature */
.feature {
  .icon-holder {
    height: 200px;
    svg {
      left: 50%;
      transform: translateX(-50%);
    }
    .number {
      font-size: 12rem;
      color: var(--section-color);
    }
    .icon {
      color: var(--green-color);
    }
  }
  .feat {
    h4 {
      color: var(--yellow-color);
    }
  }
}
/* End Feature */
/* Start Our Work */
.our-work {
  background-color: var(--section-color);
  ul {
    li {
      cursor: pointer;
      &.active {
        background-color: var(--red-color);
        color: var(--yellow-color);
      }
      &:not(.active):hover {
        color: var(--red-color);
      }
    }
  }
  .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
    &::before {
      content: attr(data-work);
      position: absolute;
      background-color: rgba(51, 209, 204, 0.76);
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: white;
      transition: 0.3s;
      font-size: 1.5rem;
      transform: translateX(calc(-100% - 5px));
    }
    &:hover::before {
      transform: translateX(0);
    }
  }
}
/* End Our Work */
